*{
	font-family:'Open Sans', sans-serif;
}

.main{
	display:inline;
	padding:3em;
	color:white;
}

.main:hover{
	color:black;
}

.navigation{
	width:100%;
	height:100px;
	max-height:150px;
}

.first-page{
	background-image:url("http://www.bbbpics.com/resize/resize-img.php?src=http://img.bbbpics.com/images/Nature/mossy-forest-trees-nature3673.jpg&h=720&w=1280");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:960px;
	width:100%;
	margin:-0.5em;
	padding:0.5em;
}

.second-page{
	background-color:white;
	height:960px;
	width:100%;
	margin:-0.5em;
	padding:0.5em;
}

.navfloat{
	float:right;
}

nav{
	width:100%;
	background-color:rgba(150,150,150,0.8);
	text-align:right;
	padding:0.2em;
	border-radius: 100px; 
	-moz-border-radius: 100px; 
	-webkit-border-radius: 100px;
}

li{
	display:inline;
}

.tabela{
	width:100%;
	text-align:center;
}

.li1{
	padding:0em;
	display:inline;
}

.intro{
	font-size:40px;
	padding:-5em;
	margin:150px;
	color:white;
}

.arrowbutton{
	width:100%;
	height:50px;
	text-align:center;
}

#hi{
	margin:100px;
}

#abtme{
	padding:1em;
}

#lorem{
	margin:0em 3em 0em 3em;
}

#lorem-title{
	padding:1em;
	margin:0em 2em 0em 2em;
}

.li2{
	display:inline;
	padding:0.5em;
}

.banner{
	width:100%;
	height:300px;
	margin:-0.5em;
	padding:0.5em;
}

#Contact{
	color:gray;
}

.tel{
	color:gray;
	font-size:20px;
}

.redes{
	text-align:right;
}

.rede{
	padding:3em;
	display:inline;
	margin: 0em 0.5em 0em 1em;
}

.conta{
	margin:2em;
}

.third-page{
	background-color:rgba(150,150,150,0.5);
	width:100%;
	height:960px;
	margin:-0.5em;
	padding:0.5em;
}

.sobre{
	width:40%;
	height:500px;
	margin:-0.5em;
	padding:0.5em;
	float:left;
	text-align:left;
}

.fotos{
	width:50%;
	height:500px;
	margin:-0.5em;
	padding:0.5em;
	float:right;
}

.footer{
	width:100%;
	height:350px;
	background-color:black;
	margin:-0.5em;
	padding:0.5em;
	text-align:left;
}

table{
	color:white;
	font-size:12px;
	padding:1em;
	text-align:center;
	border-spacing:100px 10px;
}