*{
	font-family:'Open Sans', sans-serif;
}

#bemvindo{
	text-align:center;
}

#navegadortabela{
	text-align:center;
	border-spacing:100px
}

.navigator{
	width:100%;
	background-color:rgb(150,150,150,0.8);
	text-align:center;
	border-radius: 100px; 
	-moz-border-radius: 100px; 
	-webkit-border-radius: 100px;
}

.headtable:hover{
	color:gray;
}
